<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="accent">
  <a routerLink="/"> Shadchanit v0.0.1</a>
  <span class="example-fill-remaining-space"></span>
  <button
    mat-raised-button
    color="primary"
    *ngIf="auth.isLoggedIn()"
    (click)="auth.logout()"
  >
    logout
  </button>
  <button
    mat-raised-button
    color="primary"
    *ngIf="!auth.isLoggedIn()"
    (click)="navToLogin()"
  >
    login
  </button>
  <button
    mat-raised-button
    color="primary"
    *ngIf="auth.isLoggedIn()"
    (click)="navToAddStudent()"
  >
    add student
  </button>
  <button
    mat-raised-button
    color="primary"
    *ngIf="auth.isLoggedIn()"
    (click)="navToAddMeasurement()"
  >
    add measurement
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
